.main {
  flex: 1;
}
.container{
     padding-top:32px;
     padding-bottom: 132px;
}

.title {
  text-transform: uppercase;
  font-size: clamp(42px, 8vw + 1rem, 136px);
  line-height: 1.15; 
  letter-spacing: 0.02em;
  margin: 0;
}

.spanTitle {
  color: #00B068;
}

.bottomRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: clamp(30px, 6vh, 80px);
  gap: 30px;
}

.description {
  max-width: 592px;
  text-transform: uppercase;
  font-size: clamp(12px, 1.5vw, 14px);
  text-align: left;
  line-height: 1.4;
}

.spanDescription {
  color: #00B068;
}


@media (max-width: 768px) {
  .bottomRow {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  
  .description {
    max-width: 100%;
  }
  .container{
     padding-bottom:64px ;
  }
}

@media (max-width: 480px) {
  .title {
    letter-spacing: 0.5px;
  }
  .container{
    padding-bottom:32px ;
  }
}

.linkWrapper {
  text-decoration: none;
  /* display: inline-block; */
}

.orderBtn {
  width: 100%;
  max-width: 416px;
  height: clamp(64px, 10vw, 96px);
  
  background: #f0f0f0;
  border: 2px solid #000;
    border-radius: clamp(12px, 2vw, 20px);
  cursor: pointer;
  
  display: flex;
  align-items: center;
  padding-left: clamp(15px, 3vw, 30px);
  font-size: clamp(14px, 2vw, 20px);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.arrow {
  color: #00B068;
  font-size: clamp(20px, 4vw, 32px);
  margin-right: clamp(10px, 2vw, 15px);
  font-weight: bold;
}

.orderBtn::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 6px;
  bottom: 6px;
  width: 55%;
  background-color: rgba(0, 176, 104, 0.3); 
  border-radius: clamp(12px, 2vw, 20px);
  z-index: 1;
  pointer-events: none;
  transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}


.orderBtn:hover::after {
  width: calc(100% - 12px);
}


@media (max-width: 480px) {
  .orderBtn {
    max-width: 100%;
    border-width: 1.5px;
  }
}