.footer {
  width: 100%;
  background-color: #BBBBBB; 
  padding: 40px 0;
  border-top: 1px solid #eaeaea;
}

.container {
max-width: 1436px;
  margin: 0 auto;
  padding: 0 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:20px;
}

.list {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: #171717;
  font-weight: 500;
  transition: color 0.3s;
}

.link:hover {
  color: #00B068; 
}